body{
  background-color: #faf8f5;
}

h1.container {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #5d261b;
}

.color-text{
  color: #5d261b;
}

div.container {
  margin-bottom: 5rem;
  font-family: 'Nunito', sans-serif;
}

.font-style{
  color: #5d261b;
}

.container span {
  color: red;
}

.container a {
  color: red;
}

.container label{
  color: #5d261b;
  background-color: #faf8f5;
}

.background-style{
  background-color: #faf8f5 !important;
}

.container button {
  font-size: 1rem;
  color: #5d261b;
  background-color: #faf8f5;
  border-color: #5d261b;
  padding: 15px 50px;
  border-radius: 30px;
}

.container input {
  box-shadow: none!important;
}

.container button:hover {
  color: #faf8f5;
  background-color: #5d261b;
  border-color: #5d261b;
}

.container button:focus {
  box-shadow: none!important;
}